# Procesando varios datasets de diversas fuentes para juntarlos en uno solo
Objetivo de salida: un dataset con en la que cada fila es una entidad federativa de México y cada columna un indicador sobre dicha entidad.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Empezando por los que ya estan en formato csv y tienen el mismo formato.
Limpiando los datos inncesarios

In [2]:
# Archivos a constantes
DS_DIABETES = 'istabla43_2018.csv' # Detección padecimientos Diabetes por delegación, por año hasta el 2015
DS_HIPERTENSION = 'istabla45_2018.csv' # Detección de padecimientos Hipertensión arterial por delegación, por año hasta el 2015
DS_PADECIMIENTOS = 'istabla39_2018.csv' # Número total de detecciones por delegación, por año hasta el 2015

In [3]:
db = pd.read_csv(DS_DIABETES, encoding='latin')
# Ignorando la fila de totales y seleccionando solo las filas de estados
db = db[1:36]
# Seleccionando solo las columnas de interés
db = db[[db.columns[0], '2015', '2018']]
# Renombrando las columnas a su clave definida en el diccionario del dataset
db = db.rename(columns={
    db.columns[0] : 'EDO',
    '2015' : 'DET.DIAB.15',
    '2018' : 'DET.DIAB.18'
    })

In [4]:
# Resultado de procesado de DS_DIABETES
db

                         EDO  DET.DIAB.15  DET.DIAB.18
1             Aguascalientes       234123       194442
2            Baja California       582879       581767
3        Baja California Sur        73752       106368
4                   Campeche        67127        72631
5                  Coahuila        478300       578930
6                     Colima        93374       110638
7                    Chiapas       188511       195738
8                  Chihuahua       440178       388451
9                 D.F. Norte      1028326      1065473
10                  D.F. Sur       869820      1197903
11                   Durango       215914       247689
12                Guanajuato       263252       327972
13                  Guerrero       178610       130607
14                   Hidalgo       142628       106400
15                   Jalisco      1001923      1103796
16            México Oriente       976338       867262
17           México Poniente       505633       557460
18                 Michoacán       307000       304821
19                   Morelos       105811       153693
20                   Nayarit       133951       105228
21                Nuevo León      1246983      1500597
22                    Oaxaca       118744       126014
23                    Puebla       349825       422246
24                 Querétaro       176199       173383
25              Quintana Roo       129828       184179
26           San Luis Potosí       289503       321246
27                   Sinaloa       415299       404599
28                    Sonora       441915       388156
29                   Tabasco       113499       140169
30                Tamaulipas       510867       501576
31                  Tlaxcala        76751        99386
32            Veracruz Norte       501352       525493
33              Veracruz Sur       196971       180296
34                   Yucatán       189396       217296
35                 Zacatecas        70501        74776

In [5]:
# Repitiendo el proceso para DS_HIPERTENSION
hp = pd.read_csv(DS_HIPERTENSION, encoding='latin')
# Ignorando la fila de totales y seleccionando solo las filas de estados
hp = hp[1:36]
# Seleccionando solo las columnas de interés
hp = hp[[hp.columns[0], '2015', '2018']]
# Renombrando las columnas a su clave definida en el diccionario del dataset
hp = hp.rename(columns={
    hp.columns[0] : 'EDO',
    '2015' : 'DET.HIPT.15',
    '2018' : 'DET.HIPT.18'
    })

In [6]:
# Resultado parcial de DS_HIPERTENSION
hp

                         EDO  DET.HIPT.15  DET.HIPT.18
1             Aguascalientes       201410       185357
2            Baja California       566390       512157
3        Baja California Sur        97565       105735
4                   Campeche        85993        79592
5                  Coahuila        464005       528650
6                     Colima        98868       108561
7                    Chiapas       204783       185940
8                  Chihuahua       416534       348219
9                 D.F. Norte       747549       858790
10                  D.F. Sur       810255       847858
11                   Durango       199834       220172
12                Guanajuato       326205       340449
13                  Guerrero       183165       149926
14                   Hidalgo       166998       106540
15                   Jalisco       969930       992035
16            México Oriente      1072226       759254
17           México Poniente       513196       506457
18                 Michoacán       287868       280214
19                   Morelos       111280       147855
20                   Nayarit       134709       101418
21                Nuevo León      1183004      1230481
22                    Oaxaca       133215       128741
23                    Puebla       535152       411382
24                 Querétaro       186260       193087
25              Quintana Roo       153642       200660
26           San Luis Potosí       306467       303288
27                   Sinaloa       369367       352352
28                    Sonora       396684       354032
29                   Tabasco       131834       150103
30                Tamaulipas       472063       441678
31                  Tlaxcala        83669        89937
32            Veracruz Norte       501131       497142
33              Veracruz Sur       232405       185960
34                   Yucatán       226953       231902
35                 Zacatecas        69607        66356

In [7]:
# Repitiendo el proceso para DS_PADECIMIENTOS
pad = pd.read_csv(DS_PADECIMIENTOS, encoding='latin')
# Ignorando la fila de totales y seleccionando solo las filas de estados
pad = pad[1:36]
# Seleccionando solo las columnas de interés
pad = pad[[pad.columns[0], '2015', '2018']]
# Renombrando las columnas a su clave definida en el diccionario del dataset
pad = pad.rename(columns={
    pad.columns[0] : 'EDO',
    '2015' : 'DET.TOT.15',
    '2018' : 'DET.TOT.18'
    })

In [8]:
# Resultado parcial de DS_HIPERTENSION
pad

                         EDO  DET.TOT.15  DET.TOT.18
1             Aguascalientes   1229067.0   1070207.0
2            Baja California   3106261.0   2775290.0
3        Baja California Sur    597622.0    590918.0
4                   Campeche    554331.0    454911.0
5                  Coahuila    2830690.0   3095342.0
6                     Colima    559042.0    573927.0
7                    Chiapas    998778.0    982119.0
8                  Chihuahua   2469943.0   2087517.0
9                 D.F. Norte   3950488.0   4204739.0
10                  D.F. Sur   4592542.0   4536252.0
11                   Durango   1167398.0   1184376.0
12                Guanajuato   1962185.0   1927195.0
13                  Guerrero   1068519.0    767308.0
14                   Hidalgo    955883.0    607880.0
15                   Jalisco   5371616.0   5546445.0
16            México Oriente   5462159.0   4223885.0
17           México Poniente   2797372.0   2678425.0
18                 Michoacán   1757748.0   1547139.0
19                   Morelos    649660.0    834148.0
20                   Nayarit    751208.0    577340.0
21                Nuevo León   6153203.0   6682492.0
22                    Oaxaca    709063.0    709908.0
23                    Puebla   2593181.0   2270745.0
24                 Querétaro   1051502.0   1037001.0
25              Quintana Roo    844322.0   1054534.0
26           San Luis Potosí   1735559.0   1687380.0
27                   Sinaloa   2173691.0   1985019.0
28                    Sonora   2443446.0   1970240.0
29                   Tabasco    850112.0    851130.0
30                Tamaulipas   2612584.0   2451052.0
31                  Tlaxcala    504474.0    514435.0
32            Veracruz Norte   3039822.0   2732280.0
33              Veracruz Sur   1331473.0   1040655.0
34                   Yucatán   1165069.0   1230775.0
35                 Zacatecas    423167.0    380154.0

## Uniendo los datasets anteriores

In [9]:
todos = pd.merge(db, hp, on='EDO')

In [10]:
todos = pd.merge(todos, pad, on='EDO')

In [11]:
# Resultado final de esta parte
todos

,EDO,DET.DIAB.15,DET.DIAB.18,DET.HIPT.15,DET.HIPT.18,DET.TOT.15,DET.TOT.18
0,Aguascalientes,234123,194442,201410,185357,1229067.0,1070207.0
1,Baja California,582879,581767,566390,512157,3106261.0,2775290.0
2,Baja California Sur,73752,106368,97565,105735,597622.0,590918.0
3,Campeche,67127,72631,85993,79592,554331.0,454911.0
4,Coahuila,478300,578930,464005,528650,2830690.0,3095342.0
5,Colima,93374,110638,98868,108561,559042.0,573927.0
6,Chiapas,188511,195738,204783,185940,998778.0,982119.0
7,Chihuahua,440178,388451,416534,348219,2469943.0,2087517.0
8,D.F. Norte,1028326,1065473,747549,858790,3950488.0,4204739.0
9,D.F. Sur,869820,1197903,810255,847858,4592542.0,4536252.0
10,Durango,215914,247689,199834,220172,1167398.0,1184376.0
11,Guanajuato,263252,327972,326205,340449,1962185.0,1927195.0
12,Guerrero,178610,130607,183165,149926,1068519.0,767308.0
13,Hidalgo,142628,106400,166998,106540,955883.0,607880.0
14,Jalisco,1001923,1103796,969930,992035,5371616.0,5546445.0
15,México Oriente,976338,867262,1072226,759254,5462159.0,4223885.0
16,México Poniente,505633,557460,513196,506457,2797372.0,2678425.0
17,Michoacán,307000,304821,287868,280214,1757748.0,1547139.0
18,Morelos,105811,153693,111280,147855,649660.0,834148.0
19,Nayarit,133951,105228,134709,101418,751208.0,577340.0
20,Nuevo León,1246983,1500597,1183004,1230481,6153203.0,6682492.0
21,Oaxaca,118744,126014,133215,128741,709063.0,709908.0
22,Puebla,349825,422246,535152,411382,2593181.0,2270745.0
23,Querétaro,176199,173383,186260,193087,1051502.0,1037001.0
24,Quintana Roo,129828,184179,153642,200660,844322.0,1054534.0
25,San Luis Potosí,289503,321246,306467,303288,1735559.0,1687380.0
26,Sinaloa,415299,404599,369367,352352,2173691.0,1985019.0
27,Sonora,441915,388156,396684,354032,2443446.0,1970240.0
28,Tabasco,113499,140169,131834,150103,850112.0,851130.0
29,Tamaulipas,510867,501576,472063,441678,2612584.0,2451052.0
30,Tlaxcala,76751,99386,83669,89937,504474.0,514435.0
31,Veracruz Norte,501352,525493,501131,497142,3039822.0,2732280.0
32,Veracruz Sur,196971,180296,232405,185960,1331473.0,1040655.0
33,Yucatán,189396,217296,226953,231902,1165069.0,1230775.0
34,Zacatecas,70501,74776,69607,66356,423167.0,380154.0

In [12]:
# Removiendo espacios en blanco en la columna EDO
todos['EDO'] = todos['EDO'].str.strip()

In [13]:
# Haciendo que EDO sea el indice
todos = todos.set_index('EDO')

In [14]:
# Sumando filas de estado de mexico
todos.loc['México Oriente'] += todos.loc['México Poniente']

In [15]:
# Borrando la columna ya sumada
todos.drop(['México Poniente'], inplace=True)

In [16]:
# Renombrando la columna con la suma
todos = todos.rename(index={'México Oriente' : 'México'})

In [17]:
# Repitiendo el proceso para el DF
todos.loc['D.F. Norte'] += todos.loc['D.F. Sur']
todos.drop(['D.F. Sur'], inplace=True)# Renombrando la columna con la suma
todos = todos.rename(index={'D.F. Norte' : 'CIUDAD DE MÉXICO'})

In [18]:
# Repitiendo el proceso para el Veracruz
todos.loc['Veracruz Norte'] += todos.loc['Veracruz Sur']
todos.drop(['Veracruz Sur'], inplace=True)# Renombrando la columna con la suma
todos = todos.rename(index={'Veracruz Norte' : 'Veracruz'})

In [19]:
for estado in todos.index:
    todos = todos.rename(index={estado : estado.upper()})

In [20]:
 todos.to_csv('EDO_DIAB_HIP_PAD.csv')